@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&family=Hind+Madurai:wght@300&family=Italianno&family=Montserrat:wght@100;500;700&family=Oswald&display=swap');

.general_font{
    /* font-family: 'Roboto', sans-serif; */
    font-family: 'Montserrat', sans-serif;
}
.btn-font{
    font-family: 'Montserrat', sans-serif;
}
.title-font{
    font-family: 'Great Vibes', cursive;
}
.aegt-navbar{
    /* background-color: rgba(0, 0, 0, 0); */
    box-shadow: 1px 1px 3px rgba(255, 255, 255, 0.54);
    z-index: 99;
}

.aegt-navbar .nav-link{
    border-bottom: 1px solid transparent;
    transition: padding-bottom .4s ease-in-out, border-color .3s ease ;
}

.nav-link{
    color: #d28503;
}
.aegt-navbar .nav-link:hover{
    padding-bottom: 20px;
    border-color: #d28503;
}
.logo_navbar{
    height: 150px;
    width: 150px;
}

.btn-sermon{
    color: #d28503;
    border-color: #d28503;
    transition: 0.5s;
}

.btn-sermon:hover,
.btn-sermon:active{
    background-color: #d28503;
    color: #fff;
}

.banner{
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('http://localhost/aget_front/images/Bible.jpg') center center fixed no-repeat;
    height: 800px;
    background-size: cover;
}
.banner-text{
    font-size: 48px;
    font-weight: 400;
    color: #fff;
}
.btn-joinUs,
.btn-contact{
    color: #ea7d73;
    border-color: #ea7d73;
    transition: 0.5s;
}

.btn-joinUs:hover,
.btn-joinUs:active,
.btn-contact:hover,
.btn-contact:active{
    background-color: #ea7d73;
    color: #fff;
}
.btn-joinUs:focus,
.btn-contact:focus,
.btn-sermon:focus{
    outline: none;
    box-shadow: none;
}
.photo-info{
    opacity: 4;
}
.title-color{
    color: #ea7d73;
    font-weight: 600;
}
.text-format{
    text-align: justify;
}
.agenda{
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('http://localhost/aget_front/images/toulouse1.jpg') center center fixed no-repeat;
    max-height: 2000px;
    background-size: cover;
}
.believe{
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('http://localhost/aget_front/images/bible_ouverte.jpg') center center fixed no-repeat;
    max-height: 1400px;
    background-size: cover;
}

.believe-title{
    text-decoration: none;
    color: black;
    cursor: pointer;
}

.progressBar{
    /*variable pour différents navigateur*/
    --bar-bg: #ffe3d4;
    --seek-before-width: 0px;
    --seek-before-color: #ffc2a1;
    --knobby: #3452a5;
    --selectedKnobby: #26c9c3;

    appearance: none;
    background: black;
    /* border-radius: 10px; */
    position: relative;
    width: 100%;
    height: 1.2px;
    outline: none;
}
/*progress bar for safari */

.progressBar::-webkit-slider-runnable-track{
    background: black;
    /* border-radius: 10px; */
    position: relative;
    width: 100%;
    height: 1.2px;
    outline: none;
}

/*progress bar for firefox */
.progressBar::-moz-range-track{
    background: black;;
    /* border-radius: 10px; */
    position: relative;
    width: 100%;
    height: 1.2px;
    outline: none;
}
.progressBar::-moz-focus-outer{
    border: 0;
}
/*progress bar for chrome safari*/
.progressBar::before{
    content: '';
    height: 1.2px;
    width: var(--seek-before-width);
    background: var(--seek-before-color);
    /* border-top-left-radius: 10px;
    border-bottom-left-radius: 10px; */
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    cursor: pointer;
}
/*progress bar for firefox */
.progressBar::-moz-range-progress{
    background-color: var(--seek-before-color);
    /* border-top-left-radius: 10px;
    border-bottom-left-radius: 10px; */
    height: 1.2px;
}

/*knobby -chrome safari*/
.progressBar::-webkit-slider-thumb{
    -webkit-appearance: none;
    height: 11px;
    width: 11px;
    border-radius: 50%;
    border: none;
    background-color: rgb(190, 190, 190);
    cursor: pointer;
    position: relative;
    margin: -5px 0 0 0;
    z-index: 2;
    /* box-sizing: border-box; */
}
/*knobby while dragging-chrome safari*/
.progressBar:active::-webkit-slider-thumb {
    transform: scale(1);
    background: #d28503;
}

/*knobby firefox*/
.progressBar::-moz-range-thumb{
    height: 11px;
    width: 11px;
    border-radius: 50%;
    border: transparent;
    background-color: #d28503;
    transition: 0.5;
    transition: 0.5;
    cursor: pointer;
    position: relative;
    z-index: 2;
    box-sizing: border-box;
}
/*knobby while dragging-firefox*/
.progressBar:active::-moz-range-thumb{
    transform: scale(1);
    background: #d28503;
}